body {
    background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F765877054%2F960x0.jpg%3Ffit%3Dscale");
    font-family: 'Exo 2', sans-serif;
    color: gold;
    text-align: center;
    background-size: cover;
}
p, p:hover {
    cursor: pointer;
}

p:hover {
    color: white;
}
div {
    color:gold;
    font-family: 'Exo 2', sans-serif;
    font-size:20px;
}
td {
    width: 20px;
    height: 20px;
    text-align: center;
}
